<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @personne.nom %>
</p>

<p>
  <strong>Email:</strong>
  <%= @personne.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @personne.tel %>
</p>

<p>
  <strong>Group:</strong>
  <%= @personne.group_id %>
</p>

<p>
  <strong>Sensei:</strong>
  <%= @personne.sensei %>
</p>

<%= link_to 'Edit', edit_personne_path(@personne) %> |
<%= link_to 'Back', personnes_path %>
