<div class="message"> <%= flash_messages %></div>

<h1>Organisation</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Salle</th>
      <th>Tache</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groupes.each do |groupe| %>
      <tr>
        <td><%= groupe.nom %></td>
        <td><%= groupe.salle %></td>
        <td><%= groupe.tache %></td>
        <td><%= link_to 'Edit', edit_groupe_path(groupe) %></td>
        <td><%= link_to 'Destroy', groupe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groupe', new_groupe_path %>


<h1>Listing Personnes</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Group</th>
      <th>Sensei</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personnes.each do |personne| %>
      <tr>
        <td><%= personne.nom %></td>
        <td><%= personne.email %></td>
        <td><%= personne.tel %></td>
        <td><%= personne.group_id %></td>
        <td><%= personne.sensei %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Random', randomgroupe_path %>
