<p id="notice"><%= notice %></p>

<h1>Organisation</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Salle</th>
      <th>Tache</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groupes.each do |groupe| %>
      <tr>
        <td><%= groupe.nom %></td>
        <td><%= groupe.salle %></td>
        <td><%= groupe.tache %></td>
        <td><%= link_to 'Edit', edit_groupe_path(groupe) %></td>
        <td><%= link_to 'Destroy', groupe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groupe', new_groupe_path %>
