<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @groupe.nom %>
</p>

<p>
  <strong>Salle:</strong>
  <%= @groupe.salle %>
</p>

<p>
  <strong>Tache:</strong>
  <%= @groupe.tache %>
</p>

<%= link_to 'Edit', edit_groupe_path(@groupe) %> |
<%= link_to 'Back', groupes_path %>
